# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#cscope and tags files
cscope.*
tags

#linux image
zImage
Image
vmlinux
*.cmd
*.order
System.map
.mailmap
.missing-syscalls.d
.tmp_*
.version
arch/arm/kernel/asm-offsets.s
drivers/char/mini2440_hello_module.mod.c
drivers/scsi/scsi_wait_scan.mod.c
include/asm-arm/asm-offsets.h
include/linux/bounds.h
include/linux/compile.h
kernel/bounds.s

